.container {
	position: absolute;
	bottom: 20vh;
}

.scroll-bar {
	white-space: nowrap;
}

.media {
	position: relative;
	display: inline-block;
	width: 20rem;
	height: 20rem;
	margin-right: 2rem;
	opacity: 0;
	transform: scale(1.5);

	&:last-child {
		margin-right: 0;
	}
}

.media-art {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
}

:global {
	.XMB-fade-enter {
		opacity: 0;
		transform: scale(1.5);
	}
	.XMB-fade-enter-active {
		opacity: 1;
		transform: scale(1);
		transition: opacity .8s, transform 1s;
	}
	.XMB-fade-enter-done {
		opacity: 1;
		transform: scale(1);
	}
}