// Primary Colors //
$white : #fff;
$offwhite: #eee;
$lightergrey: #aaa;
$lightgrey: #999; 
$grey: #666; 
$darkgrey: #414141;
$darkergrey: #232323;
$almostblack: #131313;

// Project Based Colors //
$orange: #f36a00; 
$red: #DF0024; 
$limegreen: #8dc63f;
$blue: #006fcd;
$pixbi: #00a8e0;
$yellow: #F3C300;
$teal: #00AC9F;